=form_for @suggestion, url: url_for(controller: 'suggestions') do |f|
  
  %p
    =f.label :name
    =f.text_field :name
  
  %p
    =f.label :email
    =f.text_field :email
    
  %p
    =f.label :message
    =f.text_area :message
    
  %p
    =f.submit "Submit", class: "submit" 
