= provide(:title, 'About')
%h1 About the Binghamton Food Co-op

.content
  #mission.info_box
    %h2 Mission
    .align_left
      =image_tag "counter.jpg"
    The Food Co-Op's mission is to offer people an alternative place to shop for food and eat lunch. Since it exists on a college campus it attempts to allow students, faculty, staff, and off campus community members a space to coexist in a comfortable, non-judgmental environment. We strive to offer an alternative to the campus food monopoly Sodexo, one of the largest corporations in the world with a history of minimizing food quality and health benefits for workers. At the Co-Op we care deeply about the health of ourselves, our customers, our planet, and the animals who may sacrifice their lives for our nourishment. We do not push veganism or vegetarianism, in fact many Co-Op members are omnivores and we do sell meat at times purchased from local farms. The meat we sell is raised consciously with concern for the animal and the health of the consumer.
    <br><br>
    At the Co-Op the main mission, besides creating space, is to offer as much local and organic food as we possibly can. We do not stock anything in our store that is less than 70% organic and any produce or bulk items we carry we source from the most local distributors possible.  To read more about what the importance of local and organic food is, continue reading our "Know Your Food" section below.
    
  -##history.info_box
    -# %h2 History

  #know_your_food.info_box
    %h2 Know Your Food
    What we mean by "Know Your Food" is know where it comes from. Get familiar with the farmers' markets in your area, especially those that support local farmers. Local farmers produce local food and for those of you looking for healthier food, they're the ones to turn to. Instead of walking into the "local" super market and picking from boxes of imported produce coming from who knows where with who know what processes, working conditions, and soil quality, you can visit your food producer directly! If you know the farmer growing your food there is a much more direct accountability process. There's no real way to inquire about food bought from industrial agricultural outfits. WIth local food, instead of just believing a label you can see for yourself! Talk to the farmers and hear about how they produce their products. We at the Co-op recognize how hard it is to find real food, and that's why we're here. We connect students, many of whom come from outside of the bioregion, to real, local, quality food. 
    <br><br>
    But why is eating locally so important? Well, besides supporting your neighbors and boosting your local economy, eating locally cuts out hundreds and thousands of miles between you and your food. You get to eat food that is made right where you live, that only has to travel a short distance to make it onto your plate. And with that, you can reduce the amount of trucks on the road transporting food from California, Central America, and even ships from China. So, it has its environmental implications but that's not the end of the benefits. Often times locally grown food is produced on relatively small farms that grow and harvest a diverse variety of produce. Buying from these farms can help you avoid supporting the devastating effects of massive monocultures (single crop farmlands, such as corn and soybeans) with their abundance of test tube food in the form of constantly changing GMOs (Genetically Modified Organisms) and the biocides (life-killing) that come paired up with the new GMO seed each season. These practices have invaded agriculture to the point where it's now difficult to find non-GMO food, and it's almost impossible to avoid contamination by their seeds. Local farmers farming organically and sustainably can only survive with our help as customers, and we can only realize the possibilities of our minds and bodies with their help.

  #how_we_run.info_box
    %h2 How We Operate
    All Power to the Students!!!!
    <br><br>
    We were created in 1971 by a group of Binghamton students before Sodexo came to claim the food scene on campus. That is how we exist in the midst of the Sodexo campus-wide monopoly. Since then, we have been an entirely student run SA chartered store, here to offer the Binghamton community an alternative.<br/><br/>
    We are a group of students who work together to keep the Food Co-Op alive and running as best it can. We all have various levels of involvement, from volunteering an hour of our time every week, to working in the kitchen, to stepping up to a position of greater responsibility as Coordinators giving at least 3-4 hours of work in the storeand kitchen in addition to weekly meetings.<br/>
    <br/>
    Stop by when we're open (M-F 10-4) and ask whoever's behind the register for help with any more questions you may have. If you're interested in joining in, check out our
    =link_to "Get Involved", get_involved_path
    page.
    -#student run: maybe "get to know" (photos/names of) coordinators<br/><br/>
