= provide(:title, 'About')
%h1 About the Binghamton Food Co-op

.content
  #mission.info_box
    %h2 Mission
    what is organic? what is fair trade? etc.
    
  #history.info_box
    %h2 History

  #know_your_food.info_box
    %h2 Know Your Food
    local farms, etc. - why is local important?
    about unfi + regional

  #how_we_run.info_box
    %h2 How We Run
    All Power to the Students!!!!<br/><br/>
    We were created in 1971 by a group of Binghamton students before Sodexo came to claim the food scene on campus. That is how we exist in the midst of the Sodexo campus -wide monopoly. Since then, we have been an entirely student run SA chartered store, here to offer the Binghamton community an alternative.<br/><br/>
    There is a group of students who work together to keep the Food Co-Op alive and running as best it can. These students have various levels of involvement, some come to volunteer an hour of their time a week, others give 3-4 hours of store/kitchen time in addition to long weekly meetings.<br/><br/>
    student run: maybe "get to know" (photos/names of) coordinators<br/><br/>
