= provide(:title, 'About')
%h1 About the Binghamton Food Co-op

.content
  #mission.info_box
    %h2 Mission
    The Food Co-Op's mission is to offer people an alternative place to shop and eat lunch. Since it exists on a college campus it attempts to allow students, faculty, staff, and off campus community members a space to coexist in a non-judgmental and comfortable environment. We strive to offer an alternative to campus food which is supplied by Sodexo, a large corporation without the health or comfort of it's customers in mind. At the Co-Op we care deeply about the health of ourselves, our customers, our planet, and the animals who may sacrifice their lives for our nourishment. We do not push veganism or vegetarianism, in fact many Co-Op members are omnivores and we do sell meat at times purchased from local farms. We however, push for educated decisions on where our meat sources come from. 
    <br><br>
    At the Co-Op the main mission, besides creating space, is to offer as much local and organic food as we possibly can. We do not stock anything in our store that is less than 70% organic and any produce or bulk items we carry we source from the most local distributors possible.  To read more about what the importance of local and organic food is, check out the "know your food" section of the website.
    
  -##history.info_box
    -# %h2 History

  #know_your_food.info_box
    %h2 Know Your Food
    What we mean by know your food is know where it comes from. Get familar with the farmers markets in your area which support local farmers. Not all the time is local organic, but mostly it is. Talk to the farmers and hear about how they produce their products. Its hard to eat locally sometimes, which is why places like the Food Co-Op exist, as a space you can go to get local produce, meat, and dairy from trustable farmers.
    <br><br>
    But why is eating locally so important? Well, besides supporting your neighbors and boosting your local economy, eating locally cuts out hundreds and thousands of miles between you and your food. You get to eat food that is made right where you live, that only has to travel a short distance to make it onto your plate. And with that, we reduce the amount of trucks on the road transporting food from California (or anywhere else) to New York, and often times food that can grow here too. So, it helps the environment a little bit in that way and a little bit more in another. Often times locally grown food is produced on relatively small farms that grow and harvest a diverse variety of produce. So you're not supporting the devastating effects of monocultures and massive farmland. And you have less to worry about GMOs and harmful chemicals. While small farmers can still use pesticides, if they do, the scale is much less and you're insides probably suffer less. But a lot of local farms are organic in practice, even if not certified.

  #how_we_run.info_box
    %h2 How We Run
    All Power to the Students!!!!
    <br><br>
    We were created in 1971 by a group of Binghamton students before Sodexo came to claim the food scene on campus. That is how we exist in the midst of the Sodexo campus -wide monopoly. Since then, we have been an entirely student run SA chartered store, here to offer the Binghamton community an alternative.<br/><br/>
    There is a group of students who work together to keep the Food Co-Op alive and running as best it can. These students have various levels of involvement, some come to volunteer an hour of their time a week, others give 3-4 hours of store/kitchen time in addition to long weekly meetings.<br/><br/>
    -#student run: maybe "get to know" (photos/names of) coordinators<br/><br/>
