= provide(:title, 'Contact Us')

%h1 Contact Us

.content
  <br>
  We can be found in the basement of Binghamton University's University Union building in <b>Room UU30</b>.<br>
  You can contact us by phone during normal business hours (M-F, 10-4).<br><br>
  <b>Phone:</b> <a href="tel:1-607-777-4258">(607) 777-4258</a><br>
  <b>E-mail:</b> <a href="mailto:foodcoop@binghamtonsa.org">foodcoop@binghamtonsa.org</a>
  <br><br>
