= provide(:title, 'Get Involved')
%h1 Get Involved

.content
  #membership.info_box
    %h2 Membership
    Save money and support the Food Co-Op all at the same time! Become a member! We have memberships available by the semester or by the year, so no need to make any long term commitments. As a member you get 5% off in store purchases! Volunteer(hyperlink to volunteer page) in the store and get 10%.<br/><br/>
    <br/>
    Remember, studies have shown that Co-Op members<br/><br/>
    
  #volunteer.info_box
    %h2 Volunteer
    Volunteer for a shift anytime we're open and receive a 10% discount on in store purchases. Just show up, tell the coordinator on shift you want to volunteer, get to know them, have a dance party, and get some Co-Op training. We ask that you purchase a basic membership and add some volunteering into the mix for the full volunteer discount. It's a fun time and only requires an hour a week.<br/><br/>
    Help the kitchen with dishes anytime from lunch on, and get half off a meal for every hour you work. If you work 2 hours it does not give you a free meal, but rather half off 2 meals.<br/><br/>
    <br/>
    If you are interested in eventually working in the kitchen as a chef, head on down between 8am-11am to chat with the current kitchen staff about working with them on cooking and preparing meals. We will be looking for new cooks for Fall 2013, so start preparing yourself for the job today!<br/><br/>
    As core members and coordinators of the Food Co-Op graduate, we will be looking for volunteers to replace them once their lives move on. We will let you know when we begin looking for new members to our team, but keep it in mind if you think you might be interested in a future in the Co-Op. The store relies on this group to survive, so we only consider those we see putting in effort, time, and fun and love into the Co-Op community.<br/><br/>
     
  #events.info_box
    %h2 Events
    meetings<br/>
    open mics<br/>
    workshops<br/>
    sales<br/>
    
  #suggestions.info_box
    %h2 Suggestions
