= provide(:title, 'Get Involved')
%h1 Get Involved

.content
  #membership.info_box
    %h2 Membership
    
    Save money and support the Food Co-Op all at the same time! Become a member! We have memberships available by the semester or by the year, so no need to make any long term commitments. As a member you get 5% off in store purchases!
    =link_to "Volunteer", "#volunteer"
    in the store and get 10%.
    %br
    %br
    As a member you are also able to place personal orders at any time and we'll put the order through when ordering for the store. These personal orders can consist of anything from either of our wholesale distributers. Just stop in and ask to check out the catalogues. Since we buy in quantity, we're able to buy for cheaper than any individual would be able to. We do mark up the price of the personal order, but you'll still be getting a great deal.
    %br
    %br
    Memberships are $5.00 a semester or  $8.00 a year.  AKA a great deal!
   
  #volunteer.info_box
    %h2 Volunteer
    Volunteer for a shift anytime we're open and receive a 10% discount on in store purchases. Just show up, tell the coordinator on shift you want to volunteer, get to know them, have a dance party, and get some Co-Op training. We ask that you purchase a basic membership and add some volunteering into the mix for the full volunteer discount. It's a fun time and only requires an hour a week.<br/><br/>
    If you decided to help the kitchen with dishes anytime from lunch on, you can get half off a meal for every hour you work. If you work 2 hours it does not give you a free meal, but rather half off 2 meals.<br/><br/>
    %br
    If you are interested in eventually working in the kitchen as a chef, head on down between 8am-11am to chat with the current kitchen staff about working with them on cooking and preparing meals. We will be looking for new cooks for Fall 2013, so start preparing yourself for the job today!<br/><br/>
    As core members and coordinators of the Food Co-Op graduate, we will be looking for volunteers to replace them once their lives move on. We will let you know when we begin looking for new members to our team, but keep it in mind if you think you might be interested in a future in the Co-Op. The store relies on this group to survive, so we only consider those we see putting in effort, time, and fun and love into the Co-Op community. Let a coordinator or core member know about your interest so they can spread the word, then write a letter of intent when you want to be offically considered! You can hand it in personally or you can email it to the Co-Op email.
    %br
    
  #events.info_box
    %h2 Events
    =render 'shared/event_calendar'
    
  #suggestions.info_box
    %h2 Suggestions
    %h5 All fields are optional 
    =render 'suggestion_form'
