%h1 Binghamton Food Co-Op
%p You've made it the always awesome womb of creative university. 
%p Smile and have a seat on one of our comfortable couches.
%p No pressure to eat, buy, or do much of anything specifically. 
%h3 Kick up your feet and see what comes your way!
