%h1 Binghamton Food Co-Op

.content
  %p You've made it the always awesome womb of creative university. 
  %p Smile and have a seat on one of our comfortable couches.
  %p No pressure to eat, buy, or do much of anything specifically. 
  %h3 Kick up your feet and see what comes your way!

-content_for :left_box do
  =render 'shared/hours_box'

-content_for :right_box do
  #event_calendar.top_box
    %h4#event_calendar_title Event Calendar
    .event_date January 28th, 2013
    .event_description Opening back up
