%h1 Menu

.content
  
  #lunch.info_box
    %h2 Daily Hot Lunch
    Our lunch option changes daily, so check out our
    =link_to "twitter feed", "#{root_path}#tweet"
    for up to date information.
  #pizza.info_box
    %h2 Personal Pizzas
    Our personal pizzas are made to order with the freshest organic ingredients we can find. We always try to source our ingredients as locally as possible. Add any toppings you want at no extra charge (toppings vary daily)! We also sometimes have a gluten free* crust option available (ask a chef for details). Pizza is not available every day, so check Facebook and Twitter for updates to see when we have it. We will start serving pizza in the winter for a warm, crusty, and cheesy (or cheezy for you vegans) treat.<br>

    .asterisk
      *while all of the ingredients used in our gluten free items are free of gluten, please note that the Food Co-Op is not a gluten free environment<br>

    Smoked Mozzarella<br>
    Made with local and organic tomatoes and smoked mozzarella cheese Vegetarian<br>
    $5<br>
    Raw Milk Cheddar<br>
    Made with local and organic tomatoes and raw milk cheddar cheese Vegetarian<br>
    $5<br>
    Vegan Mozzarella<br>
    Made with local and organic tomatoes and daiya mozzarella style shreds Vegan<br>
    $5<br>

  #beverages.info_box
    %h2 Beverages

    We offer a unique selection of beverages to accompany your meal.<br>
    <br>
    Edensoy Chocolate Soymilk<br>
    Organic and delicious, Vegan<br>
    $1.33<br>
    Edensoy Extra Original Soymilk<br>
    Organic and delicious, Vegan<br>
    $1.33<br>
    Edensoy Extra Vanilla Soymilk<br>
    Organic and delicious, Vegan<br>
    $1.33<br>
    GT's Kombucha<br>
    An organic and raw effervescent fermented tea-based beverage, Vegan<br>
    $3.52<br>
    Guyakí Yerba Mate<br>
    Organic and Fair Trade tea (contains caffeine), Vegan<br>
    Glass: $2.71<br>
    Can: $2.19<br>
    Mamma Chia (various flavors)<br>
    A chia seed based beverage made with organic ingredients. Contains 2000mg of Omega-3s, 10g fiber, 4g protein, and high in antioxidants, Vegan<br>
    $3.13<br>
    oogave<br>
    Organic agave sweetened soda (we carry Grapefruit, Root Beer, and Cola), Vegan<br>
    $1.57<br>
    Red Jacket Orchards Apple Cider<br>
    Fresh pressed juice from Geneva, NY, Vegan<br>
    $1.69<br>
    Red Jacket Orchards Raspberry Apple Juice<br>
    Fresh pressed juice from Geneva, NY, Vegan<br>
    $1.79<br>
    Red Jacket Orchards Strawberry Apple Juice<br>
    Fresh pressed juice from Geneva, NY, Vegan<br>
    $1.79<br>
    Steaz Green Tea Raspberry Soda<br>
    Made with organic and fair trade ingredients and fortified with B vitamins, Vegan<br>
    $1.57<br>

  #desserts_and_snacks.info_box
    %h2 Desserts &amp; Snacks
    <br>
    While we may have varying hot and fresh dessert offers on our buffet line, we have some standard desserts and snacks that you can always find in the store.<br>
    <br>
    Luna Bars<br>
    Tasty whole nutrition bars made with 70% organic ingredients (we have many flavors!), Vegan<br>
    $1.58<br>
    Luna & Larry's Coconut Bliss Bars<br>
    Fair trade & organic frozen treats (Naked Coconut or Dark Chocolate), Vegan<br>
    $1.59<br>
    Raw Revolution Bars<br>
    Organic live food bar (chocolate hazelnut and chocolate coconut), Vegan<br>
    $2.07<br>
    Z Bars<br>
    Organic snack bar (various flavors), Vegan<br>
    $0.93<br>
