= provide(:title, 'Products')

%h1 Products

.content
  #bulk.info_box
    %h2 Bulk
    health benefits of nuts, grains, beans, etc.
    
  #meat.info_box
    %h2 Meat
    about farms- where they're located/directions- contact info- websites
    
  #dairy_eggs.info_box
    %h2 Dairy & Eggs
    about farms- where they're located/directions- contact info- websites
          
  #herbs.info_box
    %h2 Herbs
    list of herbs in store- what they help with

  #coffee.info_box
    %h2 Coffee
    about laveggios
