= provide(:title, 'Products')

%h1 Products

.content#products  
  
  #dairy_eggs.info_box
    %h2 Dairy & Eggs
    .align_right
      =image_tag "milk.jpg"
    Our dairy, which includes non-homogenized milk and yogurt, comes to us locally from Evans Farmhouse Creamery located in Norwich, NY. In addition to being Organic, the dairy products also come from cows fed no Hormones, Antibiotics, and a diet consisting of 100% Vegetarian Feed.
    .align_left
      =image_tag "yogurt-c.jpg"
    %br
    %br
    <br>
    <br>
    Our Grassfed Organic Chocolate Milk comes to us from Natural by Nature located in Pennsylvania. 
    %br
    %br
    Our eggs currently come from local farmers in the Ithaca area.

    
  #produce.info_box
    %h2 Produce
    Seasonally, we carry local produce from the 
    =link_to "Stick and Stone Farm", "http://www.localharvest.org/stick-and-stone-farm-M6976"
    located in Ulysses, NY outside of Ithaca. While we cannot carry most produce year-round due to local growing conditions and the school year's mapping onto the colder months, we do our best to provide various local fruits and vegetables when possible.

  #bulk.info_box
    %h2 Bulk
    .align_right
      =image_tag "bulk-c.jpg"
    These are just a few of our bulk items just so you can get an idea about what we stock in the store. There will be days we are out of some things on this list, however, come to the store and be pleasantly surprised to find more!

    Everything we stock has a wide variety of health benefits. We would like to offer you information about the health benefits of many of these items but unfortunately don't have the time to research all that is listed. However, if you ever feel the urge, please feel free to look some nutrition facts up and share them with the rest of the website visitors. If you make an account you will then have access to add information about any of these products in a comment box.
    %br
    %h4 Almonds:
    %ul
      %li high in mono and poly unsaturated fats which help to regulate cholesterol levels, lowering LDL (bad cholesterol) and increasing HDL (good cholesterol)
      %li excellent source of Vitamin E
      %li rich in B vitamins, aiding in energy and proper metabolism function
      %li rich source of minerals such as manganese, potassium, calcium, iron, zinc, and selenium

    %h4 Walnuts:
    %ul
      %li great brain health nut! Rich in omega-3 fatty acids
      %li high in mono and poly unsaturated fats which help to regulate cholesterol levels, lowering LDL (bad cholesterol) and increasing HDL (good cholesterol)
      %li rich in B vitamins, aiding in energy and proper metabolism function
      %li rich source of minerals such as manganese, copper, potassium, calcium, iron, magnesium, zinc, selenium
      %li Scientists at University of Scranton, Pennsylvania had recently discovered that walnuts have highest levels of popyphenolic antioxidants than any other common edible nuts. They could help scavenge disease causing free radicals from the body.
      %li excellent source of Vitamin E and other compounds that can help against cancer


    %h4 Pumpkin seeds:
    %ul
      %li high in mono and poly unsaturated fats which help to regulate cholesterol levels, lowering LDL (bad cholesterol) and increasing HDL (good cholesterol)
      %li At least two research studies have shown eating pumpkin seeds regularly could help prevent the most common type of kidney stones
      %li contain anti-inflammatory actions
      %li contain high levels of the amino acid tryptophan, a precursor to serotonin, therefore may aid with depression
      %li rich levels of essential minerals like copper, manganese, potassium, calcium, iron, magnesium, zinc and selenium

    %h4 As well as:
    Black beans,
    navy beans,
    mung beans,
    quinoa,
    brown rice,
    dried cranberries,
    dried apricots,
    dried mangos.

-#
  #meat.info_box
    %h2 Meat
    about farms- where they're located/directions- contact info- websites
   
  #herbs.info_box
    %h2 Herbs
    We are currently in the process of re-imagining our herb selection.

  #coffee.info_box
    %h2 Coffee
    We are currently in the process of looking for a new coffee supplier. Stay tuned for updates!
