= provide(:title, 'Resources')

%h1 Resources

.content
  #websites.info_box
    %h2 Websites
    frontier
    mountain rose herbs
    earth roots, etc.
    
  #books.info_box
    %h2 Books

  #movies.info_box
    %h2 Movies
    forks over knives
    food inc.

  #zines.info_box
    %h2 zines
