.fields
  %p
    =f.label :name, "Ingredient Name"
    =f.text_field :name
  
  %p
    =f.label :amount, "Amount"
    =f.text_field :amount
  
  %p
    =f.label :unit, "Unit"
    =f.text_field :unit
  
  %p.remove_ingredient
    =link_to_remove_fields "x", f
