#side_bar
  =link_to "Add a recipe", new_recipe_path
  %br
  %br
  #directions_box
    Check it out! Now you can make all the tantalizing recipes you've seen in and/or around the coop!
    <br><br>
    We know you've been waiting, and here's your chance! Read up on other recipes, or add your own.
    <br><br>
    The possibilities are endless. Share your culinary wisdom!
