%h2.recipe_name
  =link_to recipe.name, recipe_path(recipe)
.recipe_meta
  =recipe.display_diet
  %br
  =recipe.display_season
  %br
  =recipe.display_dish_type
.recipe_ingredients
  %h3
    Ingredients
  -recipe.ingredients.each do |ingredient|
    %p
      -unless ingredient.amount.nil?
        =ingredient.amount
      -unless ingredient.unit.nil?
        =ingredient.unit
      -unless ingredient.preparation.nil?
        =ingredient.preparation
      =ingredient.name.pluralize
.recipe_directions
  =recipe.directions
