%h2.recipe_name
  =link_to recipe.name, recipe_path(recipe)
-if parent_of_recipe? recipe.id
  .edit_recipe
    =link_to "Edit this recipe", edit_recipe_path(recipe)
    %br
    %br
.recipe_meta
  -unless recipe.diet.nil?
    =recipe.display_diet
    %br
  -unless recipe.season.nil?
    =recipe.display_season
    %br
  -unless recipe.dish_type.nil?
    =recipe.display_dish_type
.recipe_ingredients
  %h3
    Ingredients
  -if recipe.ingredients.any?
    -recipe.ingredients.each do |ingredient|
      %p
        =ingredient.to_s
.recipe_directions
  %h3 Directions
  =display_directions(recipe.directions)
.recipe_divider
