#sessions_bar
  -unless signed_in?
    =form_for(:session, url: sessions_path) do |f|
      =f.label :email, "E-mail:"
      =f.text_field :email, size: 20

      =f.label :password, "Password:"
      =f.password_field :password, size: 16
      
      =f.submit "Log in"
    #sign_up_in_bar
      =link_to "Sign up", signup_path
      here if you aren't registered yet.
  -else
    = link_to "Log out", signout_path, method: :delete
