= provide(:title, @user.name)
#{@user.name}: #{@user.email}
-@recipes.each do |recipe|
  %p 
    =link_to recipe.name, recipe_path(recipe)
%br
-if current_user? @user
  %br
  =link_to "Add a recipe", new_recipe_path
  %br
  =link_to "Edit user", edit_user_path(@user.id)
  %br
  = link_to "Log out", signout_path, method: :delete
  
  -if admin_user? 
    %br
    %h3 Administrative Tasks
    =link_to "Suggestions", suggestions_path
