-if form_var.errors.any?
  .error_explanation
    This form contains 
    =pluralize(form_var.errors.count, "error")
    %ul
      -form_var.errors.full_messages.each do |msg|
        %li
          =msg
