 
html {
  font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  color: #333333;
  background-color: #FFEDF4;
}

body {
  font-size: 100%;
  padding-bottom: 0;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.nav_container {

    ul.top_nav {
      position: absolute;
      left: 50%;
      width: 60.8em;
      margin-left: -30em;
      list-style-type: none;
      padding: 0;

      li {
        width: 10em;
        float: left;
        margin: 0;
        background-color: #999;
        border: 1px solid #ccc;
        text-align: center;
        
        ul.sub_nav {
          list-style-type: none;
          padding-left: 0;
          
          li {
            float: none;
            text-align: left;
            font-size: .9em;
            width: 9em;
            
            a {
              padding-left: 1em;
           }
          }
        }

        a {
          display: block;
          text-decoration: none;
          &:link { color: #FFFFFF; }
          &:visited { color: #FFFFFF; }
        }
      }
    }
}

.alert {
  text-align: center;
  font-weight: bold;
}

#outside { 

}

.side_box {
  margin-top: 32px;
  padding: 1em 0 1em .5em;
  float: left;
  width: 14%;
  overflow: hidden;
}

#left_box {
}

#center_box {
  float: left;
  width: 70%;
  letter-spacing: 1px;
  text-align: center;
}

#right_box {
}

.top_box {
  background-color: white;
  h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.content {
  /*padding: 0 10em;*/
}


.banner {
  margin: 0 auto;
  width: 1086px;
}

.signbox {
  margin: 0 auto;
  padding: 20px;
  border: 1px black solid;
  width: 45%;
  text-align: left;
}

.signbox label {
  width: 9em;
  text-align: right;
  margin-right: .5em;
  float: left;
}

.remove_ingredient {
  text-align: right;
}

.signbox .submit {
  margin-left: 7em;
}

#status {
  font-weight: bold;
}

.event_description {
  margin-left: 1.5em;
}
