 
html {
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  color: #333333;
  background-color: #FFEDF4;
  line-height: 1.5em;
  font-size: 18px;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

h5 {
  margin: .6em 0 .3em;
}

#suggestions h2 {
  margin-bottom: 0;
}

.nav_container {

    ul.top_nav {
      position: absolute;
      left: 50%;
      margin-left: -33em;
      padding: 0;
      list-style-type: none;

      li {
        width: 8em;
        float: left;
        margin: 0;
        background-color: #999;
        border: 1px solid #ccc;
        text-align: center;
        
        ul.sub_nav {
          list-style-type: none;
          padding-left: 0;
          position: absolute;
          display: none;
          
          li {
            float: none;
            text-align: left;
            font-size: .9em;
            width: 9em;
            
            a {
              padding-left: 1em;
           }
          }
        }

        a {
          display: block;
          text-decoration: none;
          &:link { color: #FFFFFF; }
          &:visited { color: #FFFFFF; }
        }
      }
    }
}

.alert {
  text-align: center;
  font-weight: bold;
}

#outside { 

}

.side_box {
  margin-top: 32px;
  padding: 1em 0 1em .5em;
  float: left;
  width: 14%;
}

#left_box {
}

#center_box {
  float: left;
  width: 70%;
  letter-spacing: 1px;
}

#right_box {
}

.top_box {
  background-color: white;
  padding: .6em;
  h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

#center_box {
  /*padding: 0 10em;*/
  padding-bottom: 2em;
}

.info_box {
  padding-bottom: 1.5em;
  .align_right>img {
    margin-left: 1em;
  }
  .align_left>img {
    margin-right: 1em;
    margin-bottom: 1em;
  }
  clear: both;
}


.content#products, .content#resources {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}

#bulk li {
  text-align: left;
  text-decoration: none;
}

.banner {
  margin: 0 auto;
  width: 1086px;
  a:hover {
    img {
      -moz-border-shadow: 20px 20px 50px 20px yellow;
    }
  }
}

.signbox {
  margin: 0 auto;
  padding: 20px;
  border: 1px black solid;
  width: 45%;
  text-align: left;
}

.signbox label {
  width: 9em;
  text-align: right;
  margin-right: .5em;
  float: left;
}

.remove_ingredient {
  text-align: right;
}

.signbox .submit {
  margin-left: 7em;
}

#status {
  font-weight: bold;
}

.event_description {
  margin-left: 1.5em;
}

#introduction {
  #home_sign img {
    float: right;
    padding-left: 3em;
    width: 225px;
    height: 300px
  }
  #intro_content {
    padding: 2em 3em 2em 3em;
    /*text-align: justify;*/
  }
}

#twitter {
  padding-top: .5em;
  clear: both;
  h4 { text-align: center; }
}

.asterisk {
  font-size: 80%;
  padding: 1em 0;
}

.arrow {  
  font-size: 300%;
}

#search_divider {
  border-top: 1px black solid;
  width: 80%;
}

#search_box {
  .search_option {
    font-size: .8em;
  }
  
  #reset_search {
    color: blue;
    cursor: pointer;
  }
}

.align_left {
  float: left;
}

.align_right {
  float: right;
}

#menu {
  border: 5px black outset;
  padding: 10px;
}

#coop_picture {
  margin: 5em 0;
  text-align: center;
}
