/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.banner {
  margin: 0 auto;
  width: 1086px;
}

.signbox {
  margin: 0 auto;
  padding: 20px;
  border: 1px black solid;
  width: 400px;
}

.signbox label {
  width: 7em;
  text-align: right;
  margin-right: 0.5em;
  float: left;
}

.signbox .submit {
  margin-left: 7em;
}
