// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sessions_bar {
  padding: .2em 1em 0;
  height: 2.25em;
}

#login_bar {
  text-align: right;
  font-size: .7em;
  input {
    font-size: 1em;
  }
  #sign_up_in_bar {
    
  }
  a {
    text-decoration: none;
  }
}

#side_bar {
  /*float: left;
  width: 13%;*/
  padding: .6em .6em .6em .6em;
  background-color: white;
  text-align: justify;
  
  a {
    padding: .2em;
    background-color: yellow;
    &:hover { color: grey; }
  }
}

#recipes {
  margin: 0 auto;
  width: 80%;
  text-align: left;
  a {
    &:link { color: black; }
    &:visited { color: black; }
  }
}

.recipe_divider {
  height:.5em;
  padding-bottom: 2em;
  border-bottom: 1px black solid;
  width: 70%;
}

#search_box {
  .queries {
    text-align: right;
  }
}
