// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  color: #333333;
  background-color: #FFEDF4;
}

ul.top_nav {
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  width: 1000px;

  li {
    float: left;
    background-color: #999;
    border: 1px solid #ccc;
    
    ul {
      list-style-type: none;
      
      li {
        float: none;
       }
    }

    a {
      display: block;
      text-decoration: none;
      padding: 0 30px;
      &:link { color: #FFFFFF; }
      &:visited { color: #FFFFFF; }
    }
  }
}


/*
header {
  overflow:hidden;
  position:relative;
  nav {
    float:left;
    position:relative;
    left:50%;
    ul.top_nav {
      float:left;
      position:relative;
      left:-50%;
      list-style-type:none; 
      li {
        float: left;
        a {
          float: left;
          text-decoration: none;
          padding: 0 30px;
        }
        .sub_nav {
          display: none;
          position: absolute;
          top: 15px;
          overflow: visibile;
          list-style-type:none; 
          li {
            float: none;
            a {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
*/

div.container {
  clear: both;
  letter-spacing: 1px;
  
  h1 {
    padding-top: 10px;
    text-align: center;
  }
}

.sub_nav {
  display: none;
  position: absolute;
}
