-content_for :recipes do
  =yield
  
-content_for :sessions_bar do
  =render 'shared/sessions_bar'
  
-content_for :left_box do
  =render 'recipes_side_bar'
  
-content_for :right_box do
  .top_box
    Recipes in Action

=render template: 'layouts/application'
