-content_for :page_content do
  =yield
  
-content_for :sessions_bar do
  =render 'shared/sessions_bar'
  
-content_for :left_box do
  =render 'recipes_side_bar'
  
-content_for :right_box do
  =render 'recipes_right_bar'

=render template: 'layouts/application'
